<style type="text/css">
h3{
    font-size:30px;
}
p{
    font-size:20px;
}
a{
    font-size:20px;
}

</style>
<center>
<img src = "{{ character.image }}" width="50%">

    <h3>{{ character.character_name }}</h3><br><br>
    <p>Played By : {{ character.real_name }}<br><br>
    Date of Birth : {{ character.dob }}<br><br>
    Age : {{ character.age }}<br><br>
    Movies : {{ character.movies }}<br><br>Awards : {{ character.awards }}<br><br></p>
    <a href="{{ character.external_links }}">Click for more</a>
</center>
